.kscy-header-background {
    background-image: url('../images/header-background.png');
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 3em;
    
}

.kscy-header-logo {
    max-width: 12em;
}

.kscy-header-subtitle {
    color: white;
    margin: 0;
}

.kscy-body {
    margin-top: 5em;
    margin-bottom: 5em;
}

.kscy-body-step-text {
    margin-top: 25px;
    line-height: 115%
}

.kscy-body-step-buttons {
    margin-top: 40px;
}

.kscy-body-step-label {
    margin-top: 15px;
}

.kscy-footer-background {
    background-color:#0c4678;
    padding-top: 3em;
    padding-bottom: 3em;
}

.ui.file.input input[type="file"] {
    display: none;
}